body {
  background: url(texture-noise.png);
  overflow: auto;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

.row{
  margin-bottom: 1em;
  display: flex;
}

#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

#filters {
  z-index: 1;
  font-size: 24px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  padding: 1ex;
  display: flex;
  flex-direction: column;
}

#login_info {
  margin-top: auto;
}

#header {
  margin-top: 2px;
  margin-bottom: 0.25em;
  padding-top: 0;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#details {
  text-align: left;
  white-space: nowrap;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  padding: 1em 0.5em;
}

#details_path {
  font-size: 12px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  padding: 1em;
}

#details table {
  padding: 0.5em;
  margin: 0;
}

#details_groups,
#details_users,
#details_filetypes {
  max-width: 850px;
  overflow: auto;
}

form,
.select_label {
  font-size: 60%;
  font-weight: 50%;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

.childless rect.parent {
  fill: #ddd;
  fill-opacity: 0.5;
}

.childless rect.child {
  fill: #ddd;
}

text,
#filters,
#details {
  user-select: none;
}

#details:hover {
  user-select: text;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 13px;
  padding-bottom: 5px;
}

.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}