body {
  background: url(texture-noise.png);
  overflow: auto;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

#chart,
#filters {
  position: absolute;
  top: 0;
}

#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

#filters {
  z-index: 1;
  display: block;
  font-size: 24px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  margin: 1ex;
  margin-top: 0;
  padding-top: 0;
  min-width: 10em;
  height: 500px;
  left: 960px;
}

#header {
  margin-top: 2px;
  margin-bottom: 0.25em;
  padding-top: 0;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#header.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

form,
.select_label {
  font-size: 60%;
  font-weight: 50%;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string,
.regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class,
.special {
  color: #1181B8;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}


text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

#details {
  text-align: left;
  white-space: nowrap;
  float: left;
  margin-top: 510px;
  margin-left: 10px;
  padding: 0.5em;
  padding-top: 1em;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
}

#details_path {
  font-size: 12px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  padding: 1em;
}

#details table {
  padding: 0.5em;
  margin: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 13px;
  padding-bottom: 5px;
}

.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}