#treeBreadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	grid-row: 1;
	grid-column: 1 / span 2;
	width: calc(100% - 4em);
}

#treeBreadcrumbs li {
	display: inline-block;
}

#treeBreadcrumbs li:first-child {
	margin: 0 1em 0 0;
}

#treeBreadcrumbs li:first-child:after {
	content: ":";
	display: inline-block;
}

#treeBreadcrumbs button {
	cursor: pointer;
}

#treeBreadcrumbs li:not(:first-child):not(:last-child):after {
	display: inline-block;
	margin: 0 1em;
	content: "/";
}

#details {
	border-radius: 0 0 8px 8px;
	padding: 1em 0.5em;
	margin-bottom: 1em;
	max-width: 100vw;
	color: var(--diskTreeDetailsFont);
	background-color: var(--diskTreeDetailsBG);
	border: 1px solid var(--diskTreeDetailsBorder);
	box-sizing: border-box;
}

#details table {
	width: 100%;
	table-layout: fixed;
}

#details th {
	text-align: left;
	width: 5em;
}

#details td div {
	white-space: nowrap;
	overflow-x: hidden;
}

#details td div:hover {
	overflow-x: auto;
}

#disktree {
	padding-left: 1em;
	margin-top: 0.25em;
	display: grid;
	width: calc(100% - 2em);
	gap: 1em;
	grid-template-columns: 1fr auto;
	align-items: start;
}

#disktree>div:first-child {
	grid-column: 2;
	grid-row: 2;
	margin-right: 2em;
}

#disktree .treeFilter .title {
	grid-column: 1 / span 4;
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 1em;
}

#disktree .treeFilter .title:not(:first-child) {
	margin-top: 1em;
}

.age_2years {
	background-color: rgba(215, 48, 39, 0.75);
}

.age_1year {
	background-color: rgba(244, 109, 67, 0.75);
}

.age_10months {
	background-color: rgba(253, 174, 97, 0.75);
}

.age_8months {
	background-color: rgba(254, 224, 139, 0.75);
}

.age_6months {
	background-color: rgba(255, 255, 191, 0.75);
}

.age_3months {
	background-color: rgba(217, 239, 139, 0.75);
}

.age_2months {
	background-color: rgba(166, 217, 106, 0.75);
}

.age_1month {
	background-color: rgba(102, 189, 99, 0.75);
}

.age_1week {
	background-color: rgba(26, 152, 80, 0.75);
}

#treeKey {
	margin-top: 1em;
	font: 12px sans-serif;
}

#treeKey caption {
	padding-bottom: 5px;
	text-align: left;
	visibility: visible;
}

#treeKey span {
	background-color: var(--colourKeyBG);
	color: var(--colourKeyFont);
	padding: 5px;
	border-radius: 8px;
	margin-right: 0.5em;
	display: block;
	float: left;
}

#treeKey {
	border-spacing: 0;
}

#treeKey td {
	padding: 1em;
}