.primaryFilter {
	display: grid;
	width: 100%;
	gap: 0 3em;
	grid-template-columns: minmax(auto, 500px) 1fr;
	align-items: start;
}

.primaryFilter .treeFilter {
	margin-left: 1em;
	padding-right: 3em;
}