.primaryFilter {
	display: grid;
	width: 100%;
	gap: 0 3em;
	grid-template-columns: minmax(auto, 500px) 1fr;
	align-items: start;
}

.primaryFilter .treeFilter {
	margin-left: 1em;
	padding-right: 3em;
}

#multi_unix>ul>li:nth-child(n+13) {
	display: none;
}

#multi_unix>ul>li:nth-child(12) {
	visibility: hidden;
}

#multi_unix>ul>li:nth-child(12):before {
	content: "…";
	padding-left: 1em;
	display: inline-block;
	visibility: visible;
	pointer-events: none;
}