#multi_unix_0>ul>li:nth-child(n+13),
#multi_unix_1>ul>li:nth-child(n+13) {
	display: none;
}

#multi_unix_0>ul>li:nth-child(12),
#multi_unix_1>ul>li:nth-child(12) {
	visibility: hidden;
}

#multi_unix_0>ul>li:nth-child(12):before,
#multi_unix_1>ul>li:nth-child(12):before {
	content: "…";
	padding-left: 1em;
	display: inline-block;
	visibility: visible;
	pointer-events: none;
}