body {
  background: url(texture-noise.png);
  overflow: auto;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

.row {
  margin-bottom: 1em;
  display: flex;
}

#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

#sidebar {
  z-index: 1;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  padding: 1ex;
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 28px;
}

.sidebar_section {
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 10px;
}

#error {
  font-size: 16px;
  color: red;
}

#login_info {
  margin-top: auto;
}

#header {
  margin-top: 2px;
  margin-bottom: 0.25em;
  padding-top: 0;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
}

#details {
  text-align: left;
  white-space: nowrap;
  font: 12px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  padding: 1em 0.5em;
}

#details_path {
  font-size: 12px;
  font-weight: 300;
  text-shadow: 0 1px 0 #fff;
  padding: 1em;
}

#details table {
  padding: 0.5em;
  margin: 0;
}

#details_groups,
#details_users,
#details_filetypes {
  max-width: 870px;
  overflow: auto;
}

form,
.select_label {
  font-size: 15px;
  font-weight: 50%;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

.childless rect.parent {
  fill: #ddd;
  fill-opacity: 0.5;
}

.childless rect.child {
  fill: #ddd;
}

text,
#filters,
#details {
  user-select: none;
}

#details:hover {
  user-select: text;
}

/*!
 * lds-ellipsis
 */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 13px;
  padding-bottom: 5px;
}

.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/*!
 * form-control taken from:
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dce4ec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
  border-color: #2c3e50;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(44, 62, 80, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(44, 62, 80, 0.6)
}

.form-control,
input {
  border-width: 2px;
  -webkit-box-shadow: none;
  box-shadow: none
}

.form-control:focus,
input:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}